{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <table>
    <tr>
        <td style="width: 40%;">TAVAR</td>
        <td style="width: 20%;">NARXI</td>
        <td style="width: 20%;">SONI</td>
        <td style="width: 20%;">UMUMIY NARXI</td>
    </tr>
        </table>
    {% for cart in carts%}
        <table>

    <tr>
        <td style="width: 40%;">{{cart.product}}</td>
        <td style="width: 20%;">{{cart.product.price}}</td>
        <td style="width: 20%;">{{cart.quantity}}</td>
        <td style="width: 20%;"> {{cart.subtotel}}</td>
    </tr>
        </table>


    {% endfor %}
    {% if carts%}
    <button><a href="{% url 'order'%}">Check out</a></button>
    {% endif %}



</div>

{% endblock %}