{% extends 'base.html' %}
{% load materializecss %}

{% block content %}
<div class="site-wrapper" >
    <!-- Cart Page Start -->
    <main class="contact_area inner-page-sec-padding-bottom">
        <div class="container">
            <div class="row mt--60 ">
                <div class="col-lg-5 col-md-5 col-12">
                    <div class="contact_adress">
                        <div class="ct_address">
                            <h3 class="ct_title">Биз ҳақимизда</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores beatae commodi, consequuntur debitis facere mollitia non porro qui sed voluptatibus.</p>
                        </div>
                        <div class="address_wrapper">
                            <div class="address">
                                <div class="icon">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <div class="contact-info-text">
                                    <p><span>Манзил:</span> Toshkent shaxar , *** кўчаси. Мўлжал: *****
                                </div>
                            </div>
                            <div class="address">
                                <div class="icon">
                                    <i class="far fa-envelope"></i>
                                </div>
                                <div class="contact-info-text">
                                    <p><span>Електрон почта: </span> muhiddinturonov14@gmail.com </p>
                                </div>
                            </div>
                            <div class="address">
                                <div class="icon">
                                    <i class="fas fa-mobile-alt"></i>
                                </div>
                                <div class="contact-info-text">
                                    <p><span>Телефон:</span> (998) 97 468 19 99 </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-12 mt--30 mt-md--0">
                    <div class="contact_form">
                        <h3 class="ct_title">Хабар жўнатиш</h3>
                        <form method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>mahsulot soni<span class="required">*</span></label>
                                        <input type="number"   value="1" name="quantity" class="form-control"
                                               required id="quantity">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-btn">
                                        <input type="submit" class="btn btn-success" value="SendMessage" >
                                    </div>
                                    <div class="form__output"></div>
                                </div>
                            </div>
                        </form>
                        <div class="form-output">
                            <p class="form-messege"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Cart Page End -->

</div>

{% endblock %}