{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="wrapper row3">
    <section class="hoc container clear">
        <div class="center btmspace-80">
            <h6 class="heading underline font-x2">Hendrerit ligula eu diam</h6>
        </div>

        <div class="row">
            {% for post in posts %}
            <div class="col-md-4">

                <article>
                    <figure>
                        {% if post.photo%}
                        <img src="{{ post.photo.url }}" style="height: 350px;"></a></figure>
                        {% else %}
                        <img src="{% static 'images/demo/100x100.png' %}" alt="" style="height: 350px;">
                        {% endif %}</figure>
                    <div class="excerpt">
                        <h6 class="heading">{{post.title}}</h6>
                        <ul class="nospace meta">
                            <li><i class="fas fa-user rgtspace-5"></i><b>{{post.user_name}}</b><i
                                    class="far fa-clock rgtspace-5" style="padding-left: 12px"></i>
                                <time datetime="2045-04-06T08:15+00:00">{{post.created_at|date:"d.m.Y"}}</time>
                            </li>
                        </ul>
                        <h3>Narxi: {{post.price}}</h3>
                        <footer><a class="btn" href="{%url 'getpost' post.id %}">Read More</a></footer>
                    </div>
                </article>

            </div>
            {% endfor %}
        </div>
        <center style="font-size: 24px">
            {%if page_obj.has_previous %} {# whether the previous page exists #}
            <a href="?page={{page_obj.previous_page_number}}"><</a> {# link to the prev page #}
            {% endif %}
            <span>{{page_obj.number}}</span> {# the current page number #}

            {%if page_obj.has_next %} {# whether the next page exists #}
            <a href="?page={{page_obj.next_page_number}}">></a> {# link to the next page #}
            {% endif %}
        </center>
        <div align="center">
            <button class="btn-success" style="padding: 4px 16px; border-radius: 5px; "><a
                    href="{% url 'create-post' %}" style="color:#fff; font-size: 24px">Create</a></button>
        </div>
    </section>
</div>

{% endblock %}