{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">

    <div class="row">

        <div class="col-md-4" style="padding-left: 72px;">
            {% if jihoz.photo%}
            <img src="{{ jihoz.photo.url }}" style="height: 350px;"></a></figure>
            {% else %}
            <img src="{% static 'images/demo/100x100.png' %}" alt="" style="height: 300px;">
            {% endif %}
        </div>
        <div id="jihoz-data" class="col-md-8" style="padding-right: 72px;">
            <h2 style="padding-top: 25px; text-align: center; color:#57bb7b;" >{{jihoz.title}}</h2>
            <h4><strong style="color:#57b57b;">Narxi: {{jihoz.price}}</strong></h4>
            <p>{{jihoz.description}}</p>

            <a href="{% url 'contact'%}">BUY</a>


        </div>
    </div>


</div>


<!--<script>-->
<!--    function onSubmit(){-->
<!--         const inputs = document.querySelectorAll('#jihoz-data input')-->
<!--           let number = inputs[0].value;-->
<!--           let name =  inputs[1].value;-->
<!--           let phone_number =  inputs[2].value;-->

<!--           console.log(number, name,phone_number )-->
<!--           window.open('https://ya.ru', '_blank')-->
<!--    }-->
<!--</script>-->


{% endblock %}