{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">

    <div class="row">
        <div class="col-md-4" style="padding-left: 72px;">
            {% if post.photo%}
            <img src="{{ post.photo.url }}" style="height: 350px;"></a></figure>
            {% else %}
            <img src="{% static 'images/demo/100x100.png' %}" alt="" style="height: 300px;">
            {% endif %}
        </div>
        <div class="col-md-8" style="padding-right: 72px;">
            <h2 style="padding-top: 25px; text-align: center; color:#57bb7b;" >{{post.name}}</h2>
            <h4><strong style="color:#57b57b;">Narxi: {{post.price}}</strong></h4>
            <ul class="nospace meta" style="text-align: right">
                <li><i class="far fa-clock rgtspace-5" style="padding-left: 12px"></i>
                    <time datetime="2045-04-06T08:15+00:00">{{post.created_at|date:"d.m.Y"}}</time>
                </li>
            </ul>
            {% if user.is_authenticated %}
            <a href="{% url 'contact' post.id %}" class="btn btn-success">basket</a>
            {% endif %}
        </div>
    </div>


</div>

{% endblock %}