{% extends 'base.html' %}
{% block content %}
{% load static %}


<!-- register form section starts  -->

<section class="register">
<!--    message: {{messages}}-->
<!--    {% if messages %}-->
<!--        <ul class="messages">-->
<!--            {% for message in messages %}-->
<!--            <li>{{ message }}</li>-->
<!--            {% endfor %}-->
<!--        </ul>-->
<!--    {% endif %}-->
<section class="register">
    <form action="" style="place-items: center;display: grid;" enctype="{% url 'register' %}" method="post">
        <h3>register now</h3>
        {% csrf_token %}
        <input type="text" name="username" placeholder="enter your name"  class="box">
        <input type="email" name="email" placeholder="enter your email" class="box">
        <input type="number" name="phone" placeholder="enter your phone" class="box">
        <input type="password" name="password1" id="password1" placeholder="enter your password" onkeyup='check();' class="box">
        <input type="password" name="password2" id="password2" placeholder="re-enter your password" onkeyup='check();' class="box">
        <input type="submit" style="font-size: 1.5rem;background-color:#3397C8; padding:4px 16px;border-radius:8px;color:#fff; border:0 " value="Ro'yhatdan o'tish">
        <p style="padding-top: 2rem;
  font-size: 1.5rem;
  color: #666;
  text-align: center;
  padding-bottom: 1rem;">Ruyxatdan utganmisiz?</p>
        <a href="{% url 'login' %}"  style="font-size: 1.5rem;background-color:#3397C8; padding:4px 16px;border-radius:8px;color:#fff; border:0 ">Kirish</a>
    </form>
</section>
<!--    <form method="POST">-->
<!--        {% csrf_token %}-->
<!--       <p><label>Foydalanuvchi nomi</label> <br>{{form.username}}</p>-->

<!--        <p><label>Foydalanuvchi email</label> <br>{{form.email}}</p>-->

<!--        <p><label>Foydalanuvchi email</label> <br>{{form.phone}}</p>-->

<!--        <p><label>Maxfiy kod kiriting</label><br> {{form.password1}}</p>-->

<!--        <p><label>Maxfiy kod takrorlang</label> <br>{{form.password2}}</p>-->

<!--       <input type="submit" value="Ro'yhatdan o'tish" class="btn">-->
<!--        <p>Ro'yhatdan o'tganmisiz?</p>-->
<!--        <a href="{% url 'login' %}" class="btn link">Kirish</a>-->
<!--    </form>-->


</section>

{% endblock content %}

<script>


</script>