{% extends "dashboard/base.html"%}
{% load static%}
{% block content%}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Product</h4>

                        <div class="ml-auto text-right">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Library</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title m-b-0">Static Table</h5>
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home" role="tab"><span class="hidden-sm-up"></span> <span class="hidden-xs-down">ALL</span></a> </li>
                                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#phones" role="tab"><span class="hidden-sm-up"></span> <span class="hidden-xs-down">Tab1</span></a> </li>
                                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#furniture" role="tab"><span class="hidden-sm-up"></span> <span class="hidden-xs-down">Tab2</span></a> </li>
                                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#accessories" role="tab"><span class="hidden-sm-up"></span> <span class="hidden-xs-down">Tab3</span></a> </li>
                                </ul>
                            </div>
                            <table class="table">
                                  <thead>
                                    <tr>
                                      <th scope="col">Id</th>
                                      <th scope="col">Name</th>
                                      <th scope="col">Price</th>
                                      <th scope="col">Type</th>
                                      <th scope="col">#</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                  {%for i in product%}
                                    <tr>
                                      <th scope="row">{{i.id}}</th>
                                      <td>{{i.name}}</td>
                                      <td>{{i.price}}</td>
                                      <td>{{i.type}}</td>
                                      <td><a href="{%url 'productedit' i.id %}"><button style="border-radius:5px;">Edit</button></a></td>
                                    </tr>
                                  {% endfor %}
                                  </tbody>
                            </<tbody class="tab-pane active" id="home" role="tabpanel">
                                  {%for i in product%}
                                    <tr>
                                      <th scope="row">{{i.id}}</th>
                                      <td>{{i.name}}</td>
                                      <td>{{i.price}}</td>
                                      <td>{{i.type}}</td>
                                      <td><a href="{%url 'productedit' i.id %}"><button style="border-radius:5px;">Edit</button></a></td>
                                    </tr>
                                  {% endfor %}
                                  </tbody>
                            </<tbody class="tab-pane active" id="home" role="tabpanel">
                                  {%for i in product%}
                                    <tr>
                                      <th scope="row">{{i.id}}</th>
                                      <td>{{i.name}}</td>
                                      <td>{{i.price}}</td>
                                      <td>{{i.type}}</td>
                                      <td><a href="{%url 'productedit' i.id %}"><button style="border-radius:5px;">Edit</button></a></td>
                                    </tr>
                                  {% endfor %}
                                  </tbody>
                            </<tbody class="tab-pane active" id="home" role="tabpanel">
                                  {%for i in product%}
                                    <tr>
                                      <th scope="row">{{i.id}}</th>
                                      <td>{{i.name}}</td>
                                      <td>{{i.price}}</td>
                                      <td>{{i.type}}</td>
                                      <td><a href="{%url 'productedit' i.id %}"><button style="border-radius:5px;">Edit</button></a></td>
                                    </tr>
                                  {% endfor %}
                                  </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
                All Rights Reserved by Matrix-admin. Designed and Developed by <a href="https://wrappixel.com">WrapPixel</a>.
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
{% endblock content%}