{% extends 'dashboard/base.html'%}
{%load static%}

{% block content%}
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label>Name:</label><br>
                    <input type="text" name="name" value="{{user.name}}"><br>
                <!--    <label>Email:</label><br>-->
                <!--    <input type="email" name="email" value="{{user.email}}"><br>-->
                    <label>Prise:</label><br>
                    <input type="number" name="price" value="{{user.price}}"><br>
                    <label>Description:</label><br>
                    <input type="text" name="description" value="{{user.description}}">
                    <br><br>

                    <input type="submit" value="PUT">
                </form>
            </div>
        </div>
{% endblock content%}